## list of files that Git/Github will ignore
week 3/tuesday-demo.js
week 2-tuesday-demo.js
## asterisks can indicate wild card for ignoring a file type
*.psd
week6/assignment-1/w6-assignment1/node_modules/balanced-match/README.md